---
const pageTitle = "About Me";
const pageDescription = "I am Md Asad Chowdhary, the founder of Nianaa.";
const identity = {
    firstName: "Md Asad",
    lastName: "Chowdhary",
    country: "Bangladesh",
    occupation: "Student",
    hobbies: ["Reading", "Writing", "Learning"],
};
const skills = [
    "Web Programming",
    "Software Engineering",
    "Educational Development",
    "Social Learning",
    "Agriculture",
    "Medical Science",
];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

const options = [
    "Option 1",
    "Option 2",
    "Option 3",
    "Option 4",
    "Option 1",
    "Option 2",
    "Option 3",
    "Option 4",
    "Option 1",
    "Option 2",
    "Option 3",
    "Option 4",
    "Option 1",
    "Option 2",
    "Option 3",
    "Option 4",
];

// Below code will show the options item  radmomly each time the browser refresh.
function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
}
function displayRandomList() {
    const shuffledOptions = shuffleArray(options);
}
displayRandomList();
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
        <meta name="description" content={pageDescription} />
        <style define:vars={{ skillColor, fontWeight, textCase}}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
    </head>
    <body>
        <h1>{pageTitle}</h1>
        <p>Here are the few things about me:</p>
        <ul>
            <li>My name is {identity.firstName} {identity.lastName}.</li>
            <li>
                I live in {identity.country} and I am a {identity.occupation}.
            </li>
            <li>
                Two of my hobbies are: {identity.hobbies[0]} and {
                    identity.hobbies[1]
                }.
            </li>
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <p>The available options are:</p>
        <ol type="A" id="random-list">
            {options.map((option) => <li>{option}</li>)}
        </ol>

        {happy && <p>You will be happy learning with Nianaa</p>}
        {finished && <p>You are really welcome from us.</p>}
        {
            goal === 3 ? (
                <p>Can you be with us?</p>
            ) : (
                <p>We think we did something wrong.</p>
            )
        }
        <footer>
            <p><a href="/">Back to the main page.</a></p>
        </footer>
    </body>
</html>
